
body{
    color: $black;
}
h2{
    font-family: $displayFont;
    font-size: 3rem;
    margin: .5rem 0 3rem;
    text-transform: capitalize;
    color: $black;
    
}
h5{
    color: $titleColor;
    font-size: .7rem;
    margin: .5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    }
p{
    font-size: 0.8rem;
    color: $paragraphColor;
    line-height: 2;
    margin: .5rem 0 3rem;
    font-weight: 300;
}

a{
    transition: all .5s ease-in-out;
    &:hover{
        color: $red;
    }
}
strong{
    font-weight: 600;
}
em{
    font-style: italic;
}
 


.texturebg{
    background: $greyBG;
    background-image:
     url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-gray-sketch-texture-pattern_hwf3v7sx__F0000.png");
    background-position: center;
     background-repeat: repeat;
    // background-size: 100% 150%;
}