* {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container:after,
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  [class*='col-'] {
    float: left;
    padding: 0 1em;
    width: 100%;
    min-height: 1px;
    display: inline-block;
  }
  @media #{$breakpoint-xs} {
    .container {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-xs-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  
      .col-xs-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
  @media #{$breakpoint-small} {
    .container {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  
      .col-sm-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
  @media #{$breakpoint-medium} {
    .container {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-md-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  
      .col-md-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
  @media #{$breakpoint-large} {
    .container {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-lg-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  
      .col-lg-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
  @media #{$breakpoint-xl} {
    .container {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-xl-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  
      .col-xl-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
 
  