header {
    position: absolute;
    width: 100%;
    color: white;
    padding: 20px;
    z-index: 20;

.logo{
    display: inline-block;
    // padding: 20px 10px;
}

nav{
    display: inline-block;
    float: right;
    text-align: right;

    a{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0px 10px;
    }
}
}