#OurStory {
    padding: 100px 0;
   
    .quote{
        color: $paragraphColor;
        margin: .5rem 0 3rem;
        strong{
            color: $black;
            font-weight: 700;
        }
    }
    .reserve-btn{
        font-family: $displayFont;
        padding: 20px 40px;
        // min-width: 200px;
        display: inline-block;
        border: 1px solid $black;
        text-align: center;
        text-decoration: none;
        color:$black;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        &:hover{
            background: $red;
            color:white;
        }
    }
    .video-img{
        max-width: 400px;
        height: 550px;
        background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
        background-image:
            linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #000 100%),
            url(https://i.ytimg.com/vi/p0fXV5lWjkQ/maxresdefault.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
}
