#RandomQuote {
   padding: 180px 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
    background-position: right;
    background-size: cover;
     
h1{
    color: white;
    font-family: $displayFont;
    font-size: 2.7rem;
    text-transform: capitalize;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 50px;
    line-height: 1.5;
}

span{
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    display: block;
 
   
}
 
}