#SpecialMenu {
    padding: 100px 0;
     
    h2,
    h5{
        text-align: center;
    }
    .box{
        background: #fff;
        padding: 20px;
.box-img-1{
        width: 100%;
        height: 200px;
        background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
        background-image:
            linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #000 100%),
            url("https://i.pinimg.com/originals/f3/7e/8d/f37e8d184bfd64158496cfc8be201920.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 75px;
    }   
     
    .box-img-2{
        width: 100%;
        height: 200px;
        background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
        background-image:
            linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #000 100%),
            url("https://www.gannett-cdn.com/-mm-/49c6537cb43149c7ceb87f2c7ddf77c6efd24fd2/c=0-50-580-376/local/-/media/2017/04/10/USATODAY/usatsports/red-robin-burger-gourmet-cheeseburger-3000x3000_large.jpg?width=3200&height=1680&fit=crop");
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 75px;
    }   

    }
    .price-circle{
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        font-family: $displayFont;
        font-size: 2.7rem;
        background: #fff;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, 50%);
        box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.41);

    }

    .title{
        display: block;
        font-weight: 600;
        font-size: .9rem;
        text-align: center;
    }
    .details{
        font-weight: 300;
        font-size: .8rem;
        text-align: center;
        line-height: 2;
        margin: 0;

    }
    
    }
    .boxes{
        padding-bottom: 50px;
    }
    a.link{
        color: #000;
        font-family: $displayFont;
        text-align: center;
        display: block;
    }
