#TopImg {
    position: relative;
    background: black;
    min-height: 500px;
    height: 100vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #000 100%),
        url(https://www.savoryspiceshop.com/content/mercury_modules/recipes/7/8/6/786/pepper-crusted-prime-rib-roast-thumbnail-fw1200.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
     


    .title {
        padding: 200px 0 80px;
        text-align: right;
        h1 {
            font-family: $displayFont;
            text-transform: uppercase;
            color: white;
            font-weight: 300;
            font-size: 6rem;
        }

        h5 {
            text-transform: uppercase;
            color: white;
            font-weight: 300;
        }
    }
    .contact-info{
        width: 100%;
        position: absolute;
        bottom: 50px;
        right: 0;
        text-align: right;
        color: $paragraphColor;
        font-size: 0.8rem;
        line-height: 1.5rem;
        strong{
            font-weight: bold;
            color: white;
        }
         
        .booking{
            margin-bottom: 10px;
            color: $paragraphColor;
        }
        h2{
            color: white;
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }
}